<form method="get">
    <div class="row mb-3">
        <div class="col-sm-12">
            <div id="parent-admin-search">
                <select class="form-control input-sm custom-select" id="api-admin-cari"
                        name="userSearch"
                        style="width: 100%;" th:value="${userSearch}">
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="d-flex">
            <button class="btn btn-primary" data-bs-target="#tambah-modal"
                    data-bs-toggle="modal" type="button"><i class="bi bi-plus"></i>Add User
            </button>
            <div class="ms-auto">
                <button class="btn btn-success" data-bs-target="#pills-admin" data-url="/admin/user/admin"
                        id="search-button" type="button"><i
                        class="bi bi-search"></i>
                    Search
                </button>
            </div>
        </div>
    </div>
</form>

<!-- Default Table -->
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="d : ${data.content}">
            <td th:text="${d.name}">Nama Kegiatan</td>
            <td th:text="${d.email}">Jabatan</td>
            <td th:text="${d.birthDate}">Unsur</td>
            <td th:text="${d.country}">Bobot</td>
            <td th:text="${d.city}">Bukti</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- End Default Table Example -->

<!-- Right/End Aligned Pagination -->
<nav aria-label="Page navigation example">
    <div sd:pagination-summary="">Showing 1 to 10 of 57 entries</div>
    <ul class="pagination justify-content-end" sd:pagination="full" sd:pagination-split="7">
        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
        <li class="page-item disabled">
            <a aria-disabled="true" class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav><!-- End Right/End Aligned Pagination -->

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#api-admin-cari').select2({
            dropdownParent: $("#parent-admin-search"),
            placeholder: "search admin",
            minimumInputLength: 3,
            width: 'resolve',
            ajax: {
                url: '/api/users/?role=admin',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    var query = {
                        name: params.term,
                    }

                    return query;
                },
                processResults: function (data) {
                    var dataUser = [];
                    data.forEach(function (value, key) {
                        dataUser.push({
                            id: value.id,
                            text: value.name
                        })
                    });
                    return {
                        results: dataUser
                    }
                },
                cache: true
            }
        }).css('height', '34px');

        // $('.search-select-multiple').select2({
        //     dropdownAutoWidth: true,
        //     multiple: true,
        //     width: '100%',
        //     height: '30px',
        //     placeholder: "Pilih Jabatan",
        //     allowClear: true
        // });
        $('.select2-search__field').css('width', '100%');
    });

    // search button action
    $('#search-button').click(function (e) {
        //console.log("diklik");
        e.preventDefault();

        var url = $(this).attr("data-url");
        var href = $(this).attr("data-bs-target");
        var pane = $('#pills-admin-tab');
        var searchtext = $('#api-admin-cari').val();

        // ajax load from data-url
        $(href).load(url + '?userSearch=' + searchtext + '&role=' + 'admin', function (result) {
            pane.tab('show');
        });
    });

    $('ul.pagination li a').click(function (event) {
        event.preventDefault();

        var url = $(this).attr('href');
        var pane = $('#pills-admin-tab');

        console.log($(this).attr('href'));

        // ajax load from data-url
        $('#pills-admin').load(url, function (result) {
            pane.tab('show');
        });
    });

</script>
