<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>User-Page-User - Admin Pusat SPMB Int</title>

    <div layout:fragment="assets" th:remove="tag">
        <link rel="stylesheet" th:href="@{/assets/vendor/select2/css/select2.css}">
        <link rel="stylesheet"
              th:href="@{/assets/vendor/select2-bootstrap-5-theme/css/select2-bootstrap-5-theme.min.css}">
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>Daftar User</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">User</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!--konten-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>

                        <div class="alert alert-primary alert-dismissable" th:if="${!#strings.isEmpty(message)}">
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                            <span th:text="${message}">Change a few things up and try submitting again.</span>
                        </div>

                        <!-- Pills Tabs -->
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button aria-controls="pills-admin" aria-selected="true" class="nav-link active"
                                        data-bs-target="#pills-admin" data-bs-toggle="pill" data-url="/admin/user/admin"
                                        id="pills-admin-tab"
                                        role="tab"
                                        type="button"><i class="bi bi-person-workspace"></i> Admin
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="pills-user" aria-selected="false" class="nav-link"
                                        data-bs-target="#pills-user" data-bs-toggle="pill" data-url="/admin/user/user"
                                        id="pills-user-tab"
                                        role="tab" type="button"><i class="bi bi-person-check"></i> User
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2" id="myTabContent">
                            <div aria-labelledby="admin-tab" class="tab-pane fade show active"
                                 data-url="/admin/user/admin"
                                 id="pills-admin" role="tabpanel">Active panel
                            </div>
                            <div aria-labelledby="user-tab" class="tab-pane fade" id="pills-user" role="tabpanel">
                            </div>
                        </div><!-- End Pills Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<div layout:fragment="scripts">
    <script th:src="@{/assets/vendor/select2/js/select2.full.js}"></script>
    <script th:inline="javascript" type="text/javascript">

        $(document).ready(function () {
            $('#list-country').select2({
                theme: "bootstrap-5",
                dropdownParent: $('#tambah-modal .modal-content'),
                allowClear: true,
                width: 'resolve'
            });

        });

        var activeButton = $('#pills-admin-tab');
        var url = '/admin/user/admin';

        $('#pills-tab button').click(function (e) {
            e.preventDefault();

            activeButton = $(this)
            var urlTab = $(this).attr("data-url");
            var href = $(this).attr("data-bs-target");
            var pane = $(this);

            // ajax load from data-url
            $(href).load(urlTab, function (result) {
                pane.tab('show');
            });
        });

        // load first tab content
        $('#pills-admin').load(url, function (result) {
        });
    </script>

    <!-- tambah modal-->

</div>
</body>
</html>
