<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>User-Page-User - Admin Pusat SPMB Int</title>

    <div layout:fragment="assets" th:remove="tag">
        <link rel="stylesheet" th:href="@{/assets/vendor/select2/css/select2.css}">
        <link rel="stylesheet"
              th:href="@{/assets/vendor/select2-bootstrap-5-theme/css/select2-bootstrap-5-theme.min.css}">
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>Daftar User</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">User</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!--konten-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>

                        <div class="alert alert-primary alert-dismissable" th:if="${!#strings.isEmpty(message)}">
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                            <span th:text="${message}">Change a few things up and try submitting again.</span>
                        </div>

                        <form method="get">
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <div id="parent-user-search">
                                        <select class="form-control input-sm custom-select" id="api-user-cari"
                                                name="userSearch"
                                                style="width: 100%;" th:value="${userSearch}">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="d-flex">
                                    <button class="btn btn-primary" data-bs-target="#tambah-modal"
                                            data-bs-toggle="modal" type="button"><i class="bi bi-plus"></i>Add User
                                    </button>
                                    <div class="ms-auto">
                                        <button class="btn btn-success" type="submit"><i class="bi bi-search"></i>
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Default Table -->
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Birth Date</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="d : ${data.content}">
                                    <th scope="row" th:text="${dStat.count}">1</th>
                                    <td th:text="${d.name}">Nama Kegiatan</td>
                                    <td th:text="${d.email}">Jabatan</td>
                                    <td th:text="${d.birthDate}">Unsur</td>
                                    <td th:text="${d.country}">Bobot</td>
                                    <td th:text="${d.city}">Bukti</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End Default Table Example -->

                        <!-- Right/End Aligned Pagination -->
                        <nav aria-label="Page navigation example">
                            <div sd:pagination-summary="">Showing 1 to 10 of 57 entries</div>
                            <ul class="pagination justify-content-end" sd:pagination="full" sd:pagination-split="7">
                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                <li class="page-item disabled">
                                    <a aria-disabled="true" class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav><!-- End Right/End Aligned Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<div layout:fragment="scripts">
    <script th:src="@{/assets/vendor/select2/js/select2.full.js}"></script>
    <script th:inline="javascript" type="text/javascript">

        $(document).ready(function () {
            $('#list-country').select2({
                theme: "bootstrap-5",
                dropdownParent: $('#tambah-modal .modal-content'),
                allowClear: true,
                width: 'resolve'
            });

            $('#api-user-cari').select2({
                dropdownParent: $("#parent-user-search"),
                placeholder: "search user",
                minimumInputLength: 3,
                width: 'resolve',
                ajax: {
                    url: '/api/users/',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            name: params.term
                        }

                        return query;
                    },
                    processResults: function (data) {
                        var dataUser = [];
                        data.forEach(function (value, key) {
                            dataUser.push({
                                id: value.id,
                                text: value.name
                            })
                        });
                        return {
                            results: dataUser
                        }
                    },
                    cache: true
                }
            }).css('height', '34px');

            // $('.search-select-multiple').select2({
            //     dropdownAutoWidth: true,
            //     multiple: true,
            //     width: '100%',
            //     height: '30px',
            //     placeholder: "Pilih Jabatan",
            //     allowClear: true
            // });
            $('.select2-search__field').css('width', '100%');
        });

    </script>

    <!-- tambah modal-->

</div>
</body>
</html>
