<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="Admin Pusat SPMB Int" name="description">
    <link rel="icon" th:href="@{/assets/img/favicon.png}" type="image/x-icon">
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">E-DUPAK UIN Jakarta</title>
    <title>Title</title>

    <!-- Favicons -->
    <link rel="icon" th:href="@{/assets/img/favicon.png}">
    <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Inter:wght@100;200;300;400;500;600;700;800;900"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <div layout:fragment="assets" th:remove="tag"></div>
</head>
<body>

<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center">
    <div class="align-items-center">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button aria-controls="offcanvasExample" class="navbar-toggler" data-bs-target="#offcanvasExample"
                        data-bs-toggle="offcanvas" type="button">
                    <span class="bi bi-list toggle-sidebar-btn"></span>
                </button>
                <div class="ms-auto me-auto"><a class="navbar-brand" href="#">Admission</a></div>
                <button aria-controls="offcanvasExample2" class="navbar-toggler" data-bs-target="#offcanvasExample2"
                        data-bs-toggle="offcanvas"
                        type="button">
                    <span class="bi-three-dots-vertical"></span>
                </button>
                <div class="offcanvas-lg offcanvas-end navbar-collapse" id="offcanvasExample2" tabindex="-1">
                    <div class="ms-auto">
                        <div class="offcanvas-header mt-4">
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas"
                                    type="button"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="d-flex align-items-center flex-column flex-sm-row list-unstyled">
                                <li class="nav-item pe-2">
                                    <a aria-current="page" class="nav-link active" href="#">ID</a>
                                </li>
                                <li class="d-none vr d-lg-block"></li>
                                <li class="nav-item ps-2 pe-2">
                                    <a aria-current="page" class="nav-link active" href="#">EN</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<!-- ======= Sidebar ======= -->
<aside aria-labelledby="offcanvasExampleLabel" class="sidebar offcanvas-lg offcanvas-start" id="offcanvasExample"
       tabindex="-1">
    <!-- Sidebar -->
    <div class="offcanvas-header mt-4">
        <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
    </div>
    <div class="offcanvas-body">
        <nav>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

<!-- ======= Main ======= -->
<main class="main" id="main" layout:fragment="content">
</main>

<!-- ======= Footer ======= -->
<footer class="footer" id="footer">
    <div class="copyright">
        &copy; Copyright 2022<strong><span> PUSTIPANDA UIN JAKARTA</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <p class="mb-0">International Office 2022</p>
        <span><img
                alt="iconfacebook2383"
                class="login-page-iconfacebook"
                th:src="@{/assets/img/iconfacebook2383-amra.svg}"
        /><img
                alt="iconinstagram2383"
                class="login-page-iconinstagram"
                th:src="@{/assets/img/iconinstagram2383-bkuc.svg}"
        /></span>
    </div>
</footer><!-- End Footer -->

<script src="http://localhost:35729/livereload.js"></script>
<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/jquery/dist/js/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<div layout:fragment="scripts" th:remove="tag"></div>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
