<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Pusat SPMB Int</title>
    <meta content="Admin Pusat SPMB Int" property="og:title"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="utf-8"/>
    <meta content="summary_large_image" property="twitter:card"/>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Inter:wght@100;200;300;400;500;600;700;800;900"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>
<body>
<!-- ======= Header ======= -->
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarTogglerDemo01" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand d-none d-lg-block" href="#"><img
                        alt="logo"
                        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ad73bc99-bdd9-4404-b39d-733a4ea3515f/25cd57db-5ad8-4911-9d73-2fa10f08ca8c?org_if_sml=14622"/></a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="#">Brochure</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Academic Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admission Guide</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item pe-2">
                        <a aria-current="page" class="nav-link active" href="#">ID</a>
                    </li>
                    <li class="vr"></li>
                    <li class="nav-item ps-2 pe-2">
                        <a aria-current="page" class="nav-link active" href="#">EN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- ======= Main ======= -->
<main>
    <div class="container">
        <section class="d-flex align-items-center justify-content-center mt-5">

            <div class="row justify-content-center">
                <div class="card shadow rounded border-0 col-lg-6">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center mb-0">INTERNATIONAL ADMISSION</h5>
                            <h5 class="card-title text-center">UIN SYARIF HIDAYATULLAH JAKARTA</h5>
                            <div class="col-sm-12">
                                <div class="alert alert-danger alert-dismissable" th:if="${!#strings.isEmpty(message)}">
                                    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×
                                    </button>
                                    <span th:text="${message}">Change a few things up and try submitting again.</span>
                                </div>
                                <div class="alert alert-danger alert-dismissable" th:if="${param.error}">
                                    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×
                                    </button>
                                    Invalid username and password.
                                </div>
                                <div class="alert info alert-dismissable" th:if="${param.logout}">
                                    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×
                                    </button>
                                    You have been logged out.
                                </div>
                            </div>
                        </div>
                        <!--login form-->
                        <form class="row g-3 mt-3 needs-validation" method="post" novalidate th:action="@{/login}">

                            <div class="col-12">
                                <div class="input-group has-validation">
                                    <input class="form-control" id="yourUsername" name="username" required type="text">
                                    <div class="invalid-feedback">Please enter your username.</div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    <input class="form-control border-end-0" id="yourPassword" name="password" required
                                           type="password">
                                    <span class="input-group-text text-muted bg-transparent border-start-0">
                                    <a class="show-password" href=""><i aria-hidden="true" class="bi bi-eye-slash"></i></a>
                                </span>
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    <label><a href="#">forgot password?</a></label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-warning w-100" type="submit">Sign In</button>
                            </div>
                            <div class="col-12">
                                <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an
                                    account</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- ======= Footer ======= -->
<footer class="footer" id="footer-login">
    <div class="copyright">
        &copy; Copyright 2022<strong><span> PUSTIPANDA UIN JAKARTA</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <p class="mb-0">International Office 2022</p>
        <span><img
                alt="iconfacebook2383"
                class="login-page-iconfacebook"
                src="assets/img/iconfacebook2383-amra.svg"
        /><img
                alt="iconinstagram2383"
                class="login-page-iconinstagram"
                src="assets/img/iconinstagram2383-bkuc.svg"
        /></span>
    </div>
</footer><!-- End Footer -->

<script src="http://localhost:35729/livereload.js"></script>
<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
